* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  width: 100%;
  max-width: none;
  border: none;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  background: #141417;
  color: #e6e6e6;
}
